<!-- Nav -->
<div class="container-fluid sticky top bg-white shadow-lg" style="top: 50px;">
	<div class="row">
		<div class="col">
			<div class="px-3 py-3 d-flex align-items-center justify-content-between">
				<!-- Nav text -->
				<div class="font-weight-bold">
					The Drama Shop
				</div>
				<!-- Nav user balance -->
				<div class="text-left">
					<div style="letter-spacing: 1px;" class="text-priamry text-small text-uppercase font-weight-bold">
						Your balance
					</div>
					<div class="text-small font-weight-bold"><i class="fas fa-diamond text-primary fa-sm mr-1"></i>
						10000
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row box-shadow-bottom d-block d-md-none border-top">
		<div class="col">
			<div class="d-flex flex-row-reverse justify-content-center">
				<ul class="nav settings-nav">
					<li class="nav-item">
						<a style="padding: 0.75rem 1rem;"
						   class="nav-link{% if request.path.endswith('/shop') %} active{% endif %}"
						   href="/shop"><i class="fas fa-star text-lg mr-0"></i></a>
					</li>
					<li class="nav-item">
						<a style="padding: 0.75rem 1rem;"
						   class="nav-link{% if request.path.endswith('/shop/featured') %} active{% endif %}" href="/badmins"><i
								class="fas fa-sunglasses text-lg mr-0"></i></a>
					</li>
					<li class="nav-item">
						<a style="padding: 0.75rem 1rem;"
						   class="nav-link{% if request.path.endswith('/shop/special') %} active{% endif %}" href="/log"><i
								class="fas fa-bolt text-lg mr-0"></i></a>
					</li>
					<li class="nav-item">
						<a style="padding: 0.75rem 1rem;"
						   class="nav-link{% if request.path.endswith('/shop/sale') %} active{% endif %}" href="/banned"><i
								class="fas fa-tag text-lg mr-0"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>