{% extends "shop/shop-layout.html" %}
{% block content %}
<div class="container pt-5">
	<div class="row">
		<div class="col-3 d-none d-md-block">
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="#" class="nav-link active" aria-current="page">
						<i class="fas fa-star fa-fw mr-2"></i>
						Featured
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<i class="fas fa-sunglasses fa-fw mr-2"></i>
						Profile Cosmetics
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<i class="fas fa-bolt fa-fw mr-2"></i>
						Special Abilities
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<i class="fas fa-tag fa-fw mr-2"></i>
						Summer Sale
					</a>
				</li>
			</ul>
		</div>

		<div class="col-9 mx-auto">

			<!-- shop-header.html goes here -->
			{% include "shop/shop-header.html" %}

			<section class="container-fluid px-0 py-5">
				<!-- shop-section.html goes here -->
				{% include "shop/shop-section.html" %}
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-3">
					<!-- shop-item.html goes here -->
					{% include "shop/shop-item.html" %}
				</div>
			</section>

		</div>
	</div>
</div>
{% endblock %}