<header class="position-relative rounded shadow text-center">
	<!-- Header image -->
	<img src="https://i.ibb.co/k53P98R/image-4.png" class="img-fluid w-md-75">
	<!-- Header details -->
	<div class="container px-1 px-lg-5 my-5 position-relative" style="z-index: 1;">
		<div class="text-center">
			<!-- Header title -->
			<h1>
				Stir drama. Earn points.
			</h1>
			<!-- Header description -->
			<p class="lead fw-normal text-muted mb-0">
				It's yours, my friend, as long as you have enough dramacoin.
			</p>
		</div>
	</div>
</header>