<header class="posiition-relative rounded shadow-lg text-center">
	<!-- Header image -->
	<img src="https://i.ibb.co/k53P98R/image-4.png" class="img-fluid w-md-75">
	<!-- Header details -->
	<div class="container px-4 px-lg-5 my-5 posiition-relative" style="z-index: 1;">
		<div class="text-center text-white">
			<!-- Header title -->
			<h1>
				Stir drama. Earn points.
			</h1>
			<!-- Header description -->
			<p class="lead fw-normal text-white-50 mb-0">
				It's yours, my friend, as long as you have enough dramacoin.
			</p>
		</div>
	</div>
</header>