<div class="card h-100 shadow-lg">
	<!-- Product tag -->
	<div class="badge bg-primary text-white position-absolute" style="top: -0.5rem; right: -0.5rem;z-index: 1;padding: 4px 6px;font-size: 0.875rem;">
		NEW!
	</div>
	<!-- Product meta (top) -->
	<div class="hidden align-items-center justify-content-between w-100" style="background: rgba(0, 0, 0, 0.9);padding: 0.75rem;">
		<!-- Product name -->
		<div class="font-weight-bold text-uppercase h5 mb-0" style="line-height: 1rem;">
			Marsey
		</div>
		<!-- Product category -->
		<div class="text-small text-uppercase font-weight-light" style="letter-spacing: 1px;line-height: 1px;">
			Frame
		</div>
	</div>
	<!-- Product image -->
	<div class="position-relative">
		<img class="card-img-top bg-gray-100" src="..." alt="...">
		<!-- Product meta (bottom) -->
		<div class="position-absolute d-flex align-items-center justify-content-between w-100" style="bottom:0;background: rgba(0, 0, 0, 0.86);padding: 0.75rem;">
			<!-- Product name -->
			<div class="font-weight-bold text-uppercase h5 mb-0" style="line-height: 1rem;">
				Marsey
			</div>
			<!-- Product category -->
			<div class="text-small text-uppercase font-weight-light" style="letter-spacing: 1px;line-height: 1rem;">
				Frame
			</div>
		</div>
	</div>
	<!-- Product actions -->
	<div class="card-body d-flex justify-content-center align-items-center p-4">
		<a class="btn btn-outline-primary" href="#">
			Add to bag
		</a>
	</div>
	<!-- Product price -->
	<div class="card-footer px-2 py-3 pt-0">
		<div class="text-center font-weight-bold">
			<i class="fas fa-diamond text-primary text-small fa-sm mr-2"></i>
			100
		</div>
	</div>
</div>