<!-- Nav -->
<div class="container-fluid sticky top bg-dark" style="top: 50px;">
	<div class="row">
		<div class="col">
			<div class="px-3 py-3 d-flex align-items-center justify-content-between">
				<!-- Nav text -->
				<div class="font-weight-bold">
					The Drama Shop
				</div>
				<!-- Nav user balance -->
				<div class="text-left">
					<div style="letter-spacing: 1px;" class="text-priamry text-small text-uppercase font-weight-bold">
						Your balance
					</div>
					<div class="text-small font-weight-bold"><i class="fas fa-diamond text-primary fa-sm mr-1"></i>
						10000
					</div>
				</div>
			</div>
		</div>
	</div>
</div>