{% extends "shop/shop-layout.html" %}
{% block content %}
<div id="shop" class="col-md-9 mx-auto">

	{% if v and v.admin_level == 6 %}
	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input" id="toggle-settings" v-model="settings">
		<label class="custom-control-label" for="toggle-settings">Show item settings</label>
	</div>
	{% endif %}

	<!-- shop-header.html goes here -->
	{% include "shop/shop-header.html" %}

	<section class="container-fluid px-0 py-5">
		<!-- shop-section.html goes here -->
		{% include "shop/shop-section.html" %}
		{#
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-3">
			<!-- shop-item.html goes here -->
			{% include "shop/shop-item.html" %}
		</div>
		#}
	</section>

</div>
{% endblock %}

{% block thing %}
{% include "shop/shop-modal.html" %}
{% endblock %}

{% block vue %}
<script>
	var itemModal = new bootstrap.Modal(document.getElementById('itemModal'))

	new Vue({
		el: '#shop',
		delimiters: ['[[', ']]'],
		data: {
			coins: {{ v.coins }},
			settings: false,
			items: [],
			loaded: false,
			selected: {},
		},
		methods: {
			pick(item) {
				this.selected = {...item};
				// lmao vue won't mount on larger scopes
				$("#item-modal-name").html(this.selected.name);
				$("#item-modal-cat").html(this.selected.category_name);
				$("#item-modal-desc").html(this.selected.description);
				$("#item-modal-img").attr("src", this.selected.icon);
				$("#item-modal-icon").attr("src", this.selected.icon);
				$("#item-modal-cost").html(this.selected.cost);
				$("#item-modal-submit").attr("onclick", `post_toast("/api/items/mine/${this.selected.id}")`);
				itemModal.show();
			}
		},
		mounted() {
			fetch('/api/items/all')
			.then(response => response.json())
			.then(json => {
				this.items = json;
			});
			this.loaded = true;
		},
	});
</script>
{% endblock %}