<div class="row">
	<div v-if="loaded" v-for="(cat, index) in items" :key="index" class="container-fluid mt-3">
		<!-- Section title -->
		<div class="text-uppercase font-weight-bold h4 mb-0">
			[[ cat.name ]]
		</div>
		<!-- Section description -->
		<p class="mt-1 form-text text-muted">
			[[ cat.description ]]
		</p>
		<!-- Section divider -->
		<hr class="border-gray-400">

		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-3">
			<!-- shop-item.html goes here -->
			{% include "shop/shop-item.html" %}
		</div>
	</div>
	<h4 v-else>loading...</h4>
</div>